@import "@global-vars.scss";
@import "@components/shared/styles/button.scss";
.button {
  @include button;
}

.icon-button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $primary-white;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.1;
  }
}
