@import "@global-vars.scss";
@import "@components/Button/Button.scss";
nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 10px 20px 0px 20px;
  position: relative;
  z-index: 1;
  
  @media screen and (max-width: 900px) {
    padding: 10px 0px 0px 0px;
  }

  .nav-container {
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background-image: linear-gradient(90deg, #2e2e2eac, $primary-black);

    .nav-icon {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $primary-white;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }

    .nav-menu {
      @include button;
      width: 100%;
      margin: 10px;
      display: none;

      @media screen and (max-width: 979px) {
        display: flex;
      }
    }

    .nav-left {
      display: flex;
      align-items: center;

      .nav-links {
        width: 10px;
        display: flex;
        align-items: center;
        margin: 20px;

        @media screen and (max-width: 979px) {
          display: none;
        }
      }
    }

    .nav-right {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 979px) {
        width: 350px;
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}
