.home {
  display: flex;
  height: 92vh;
  max-height: 931px;
  margin: 0px;
  justify-content: space-between;

  @media screen and (max-width: 846px) {
    user-select: none;
    margin:0px 20px;
  }
}

.left {
  flex: 1;
  padding: 10px 5px;
}

.right {
  flex: 1;
  padding: 10px 5px;
}

@media screen and (max-width: 846px) {
  .home {
    flex-direction: column;
    margin: 0px 5px;
  }

  .left,
  .right {
    flex: none;
    height: 50vh;
  }
}
