.home {
  display: flex;
  height: 100vh;
  max-height: 931px;
  margin: 0px 40px;
  justify-content: space-between;
}

.left {
  flex: 1;
  padding: 10px 5px;
}

.right {
  flex: 1;
  padding: 10px 5px;
}

@media screen and (max-width: 846px) {
  .home {
    flex-direction: column;
    margin: 0px 5px;
  }

  .left,
  .right {
    flex: none;
    height: 50vh;
  }
}
