.about-team {
  background: url("cool-background.svg");
  background-size: cover;
  padding: 50px;
  color: #222;
}

.team-header {
  text-align: center;
  margin-bottom: 40px;
}

.team-title {
  font-size: 36px;
  color: #ff3366;
  transition: transform 0.3s ease-in-out;
}

.team-title:hover {
  transform: scale(1.1);
}

.team-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.styled-button {
  background-color: #ff3366;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.member-card {
  background-color: rgba(25, 255, 55, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.member-card:hover {
  transform: translateY(-10px);
}

.member-info {
  margin-bottom: 20px;
}

.member-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.member-name {
  margin-top: 10px;
  font-size: 20px;
}

.member-position {
  color: #777777;
  margin-top: 5px;
}

.member-description {
  margin-top: 15px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media-icons a {
  margin: 0 5px;
  color: #777777;
  font-size: 24px;
}

.social-media-icons a:hover {
  color: #ff3366;
}
