@import "@global-vars.scss";
@import "@components/Button/Button.scss";

.searchbar {
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  background-image: linear-gradient(90deg, #2e2e2eac, $primary-black);
  border-radius: 30px;

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  z-index: 1;

  .searchbar-container {
    width: 100%;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: left;
    @media screen and (max-width: 979px) {
      width: 92%;
    }

    .button {
      @include button;
      width: max-content;
    }
    .selected {
      background-color: $primary-white;
      color: $primary-black;
    }
  }

  .searchbar-left {
    max-width: 60%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    @media screen and (max-width: 979px) {
      position: absolute;
      max-width: 100%;
    }
  }

  .searchbar-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;

    @media screen and (max-width: 979px) {
      width: 350px;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }

    .searchbar-search {
      height: 50px;
      min-width: 80%;
      border: solid 2px $primary-white;
      color: $primary-white;
      background-color: transparent;
      border-radius: 30px;

      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 60%;

      cursor: pointer;

      &:focus {
        text-decoration: solid;
        background-color: #4c4c4cac;
      }

      input {
        width: 100%;
        padding: 9px 30px;
        margin-right: 10px;
        border: none;
        background-color: transparent;
        text-decoration: none;
        user-select: none;
        outline: none;
        border-radius: 30px;
      }
    }
  }
}
