@mixin underline-anim {
  position: relative;
  width: fit-content;
  $thickness: 5px;

  &::after {
    content: "";
    content: "";
    position: absolute;
    left: 0;
    bottom: -($thickness / 2);
    height: $thickness;
    width: 0;
    background-color: $primary-white;
    transition: width 0.2s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
