@import "@global-vars.scss";
@import "@components/Button/Button.scss";
@import "@components/Home/Card/Card.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap");

body {
  background-image: linear-gradient(#1f1f1f, #232323, #232323, #232323);
}

.post-container {
  @include card;
  min-height: 100%;
  margin: 10px 0px 20px 0px;
  background-image: linear-gradient($primary-black, #232323, #232323);
  font-family: "Lato", sans-serif;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  word-spacing: 5px;

  @media screen and (max-width: 768px) {
    padding: 5px;
    width: 100%;
  }

  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50vw;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      padding: 15px;
      width: 100%;
    }
  }
}

.card-container {
  width: 100%;
  height: 450px;
  margin: 10px;
  border-radius: 30px;
  background-color: #3b3b3b;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
