@import "@global-vars.scss";

.primary-black {
  background-color: $primary-black;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;

  .blog-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #2e2e2e61;
    margin-top: 10px;
    padding-top: 7px;
  }
  .blog-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}
