@import "@global-vars.scss";

.track-container {
  width: 100%;
  min-height: 100vh;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: $primary-black;
}
